
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
}

 #wrapper {
    width: 100%;
    background:#202020;
}

#page-wrapper {
    min-height: 500px;
    padding: 15px 15px;
    background-color: #83BBCC;
    overflow: auto;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color: #98C6F1;
    padding:10px;
    min-height:500px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
background: #C90000;
width: 260px;
text-align: center;
height: 60px;
font-size: 28px;
font-weight: 700;
}
.active-menu {
    background-color:#C90000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#0A0A0A;
	outline:0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ff0000;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #202020;
	
}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
	
}
.navbar-cls-top .navbar-brand:hover {

background: #C90000;
color:#fff;

}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #A70303;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        height: 100%;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
 border-radius: 0px; 
}
   
}
.slider_img {
    margin: 0 auto;
}
.auto {
    margin: 0 auto;
    width: 90%;
    border-radius: 15px;
    background-color: #faebcc ;
    border: 1px solid red;
    height: 300px;
    padding-left: 25px;
}
.auto_desc {
    padding-left: 10px;
    padding-right: 10px;
    width: 70%;
    height: 280px;
    border: 1px solid red;
    float: left;
    margin-left: 40px;
    margin-top: 15px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.auto_img_div {
    float: left;
    margin-top: 25px;
}
.desc {
    font-size: 13px;
}
.title {
    text-align: center;
    font-weight: bold;
}
.price {
    text-align: center;
    font-weight: bold;
}
#footer {
    padding-top: 6px;
    font-weight: bold;
    text-align: center;
    background-color: #ce8483;
    font-size: 16px;
    height: 40px;
}

#login {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 26%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #c4e3f3;
    margin: 70px auto;
    background-color: #4bb1cf;
}
.login_input {
    width: 250px!important;
}
.login_label {
    margin: 0 auto!important;
}
#logout {
    margin-left: 1250px;
    margin-top: 10px;
}
.input1 {
    border: 1px solid red;
    margin-left: 20px;
}
.welcome {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: red;
}

#add_button {
    margin: 10px;
}
.products {
    margin: 40px auto;
    width: 800px;
    height: 350px;
    background-color: #c4e3f3;
}
.name_product {
    width: 40%;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
.img_product {
    overflow: hidden;
    width: 200px;
    height: 150px;
    float: left;
}
.desc_product {
    background-color: #DCEEFF;
    overflow: hidden;
    height: 180px;
    width: 670px;
    font-size: 12px;
    float: left;
    margin-left: 10px;
}
.price_product {
    margin-left: 200px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    float: left;
    margin-top: 5px;
    color: #002166;
}
.total_product{
    margin-top: -27px!important;
    width: 120px;
    margin-left: 760px;
    font-weight: bold;
    font-size: 15px;
    color: #002166;
}
.country_product {
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    color: #002166;
}
.category_product {
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    color: #002166;
}
.button_product {
    margin-top: 15px;
    width: 100px;
    height: 40px;
    margin-left: 150px;
    text-align: center;
}
.edit {
    border: 1px solid red;
    width: 100px;
}

.category_title {
    height: 50px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #002166;
}
.file {
    font-weight: bold;
    color: red;
}
.file_error {
    width: 300px;
    text-align: left;
    color: red;
    padding: 3px;
    font-weight: bold;
}
.price_error {
    margin-left: 203px;
    width: 50%;
    text-align: center;
    color: red;
    padding: 3px;
    font-weight: bold;
}
.total_error {
    margin-left: 203px;
    width: 50%;
    text-align: center;
    color: red;
    padding: 3px;
    font-weight: bold;
}
.price {
    width: 515px;
}
.name_error {
    font-weight: bold;
    width: 50%;
    margin-left: 203px;
    text-align: center;
    color: red;
    padding: 3px;
}
.desc_error {
    font-weight: bold;
    width: 50%;
    text-align: center;
    margin-left: 203px;
    color: red;
    padding: 3px;
}
.info {
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: red;
    width: 250px;
    height: 40px;
    margin-top: -30px;
}
.add_input {
    width: 50%;
    margin: 0 auto;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
.add_input_file {
    width: 59%!important;
}
.form_div {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.div_file {
    margin-left: 26%;
}
select {
    text-transform: none;
    width: 140px;
    height: 25px!important;
    background-color: #7DC0FF;
    color: #002166;
    font-weight: bold;
    margin-left: 20px;
}
.button_save {
    width: 100px;
}
.admin_edit_button {
    padding: 0;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 650px!important;
}
.admin_delete_button {
    padding: 0;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 25px;
}
.div_product {
    min-height: 220px;
}
.img_edit {
    margin-top: -80px;
    width: 150px;
    height: 100px;
    overflow: hidden;
}
.category {
    margin: 30px auto;
    text-align: center;
    width: 50%;
    background-color: #96BDE2;
}
.category_edit {
    padding: 20px;
    background-color: #96BDE2;
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;
    width: 50%;
    float: left;
}
.category_delete {
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid red;
    text-align: center;
    width: 50%;
    float: left;
}
.button_category {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.button_category button {
    margin-left: 20px;
    margin-right: 20px;
}
.add_category {
    margin-top: 50px;
    padding-top: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #86B7E4;
}
.edit_category {
    float: left;
    width: 27%;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #86B7E4;
}
.delete_category {
    width: 50%;
    margin: 30px auto;
    text-align: center;
    border-radius: 10px;
    background-color: #86B7E4;
}
.edit_category button {
    margin: 5px;
    width: 120px;
    overflow: hidden;
}
.delete_category button {
    margin: 5px;
    width: 120px;
}
.slider_add_button {
    margin-top: 10px;
    width: 170px;
    height: 35px;
    padding: 0;
    margin-left: 25px;
    margin-right: 30px;
}
.slider_save_button {
    width: 130px;
    height: 35px;
    padding: 0;
    margin-top: 10px;
    margin-left: 150px;
}
.add_image_slider_div {
    padding-top: 10px;
    width: 40%;
    min-height: 100px;
    float: left;
    margin-left: 40px;
}
.slider_image_view {
    margin-left: 20px;
    width: 300px;
    height: 200px;
    float: left;
}
.all_image_slider {
    border: 2px solid #030A0C;
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 30px;
    float: left;
}
.add_button_div {
    width: 100%;
    margin-bottom: 20px;
}
.latitude_input {
    width: 40%;
    margin: 0 auto;
}
.longitude_input {
    width: 40%;
    margin: 0 auto;
}
.label_latitude {
    font-size: 13px;
}
.label_longitude {
    margin-top: 20px!important;
    font-size: 13px;
}
.coordinates {
    margin: 0 auto;
    text-align: center;
    min-height: 60px;
    width: 50%;
}
.latitude_error {
    color: #ff0000;
    font-weight: bold;
}
.longitude_error {
    color: #ff0000;
    font-weight: bold;
}
.country_name_error {
    color: #ff0000;
    font-weight: bold;
}
.area_save {
    width: 100px;
    margin-bottom: 10px;
}
.edit_button {
    width: 100px;
}
.save_edit_area {
    width: 100px;
}
.save_add_area {
    width: 100px;
}
.save_add_category {
    width: 100px;
    margin-bottom: 20px;
}
.save_edit_category {
    width: 100px;
}
.div_ul {
    margin-top: 20px;
    width: 50%;
}
.h2_cat {
    text-align: center;
}
.delete_category_button {
    overflow: hidden;
}