body, html {
    margin: 0;
    padding: 0;
    background-color: #afd9ee;
}
#header {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
    background-image: url('../img/bg_header.jpg');
    border-radius: 10px;
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

#menu {
    margin-left: 40%;
    text-align: center;
    width: 60%;
    height: 50px;
    margin-top: 28px;
}
.user_data {
    color: #F3CFCE;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 15px;
    margin-top: 28px;
    width: 400px;
    min-height: 50px;
    float: left;
}
.log_out {
    margin-left: 50px;
    margin-top: -8px;
}
.menu_list {
    padding-top: 3px;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    width: 100px;
    height: 30px;
}
.cart {
    border-bottom: 2px solid #002a80;
    padding-bottom: 10px;
}
.count {
    text-align: center;
    border-radius: 15px;
    border: 2px solid #ffffff;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 92%;
    margin-right: 5px;
    font-size: 20px;
    color: #0000FF;
}
.menu_list a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #843534;
}
.menu_list a:hover {
    color: coral;
}
#content {
    padding-top: 5px;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    background-color: #7ab5d3;
    margin: 0 auto;
}
#content1 {
    overflow: auto;
    padding-top: 5px;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    background-color: #7ab5d3;
    margin: 0 auto;
}
.contacts_container {
    width: 80%;
    margin: 0 auto;
}
.contacts {
    width: 100%!important;
    margin: 0!important;
    text-align: center!important;
    padding: 0!important;
}
.contacts_input {
    margin-top: 10px;
    border: 1px solid #a6a6a6;
    margin-left: -70px;
}

.contacts_button {
    font-size: 16px;
    margin-top: 10px;
    width: 120px;
    height: 35px;
    padding: 0;
}
#footer {
    text-align: center;
    background-color: #ce8483;
    overflow: auto;
    width: 80%;
    height: 10%;
    background-color: #ce8483;
    margin: 10px auto;
    border-radius: 10px;
}
.img_slider {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.main_div {
    min-height: 200px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    margin-top: 20px;
}

.button_view_frontend {
    width: 100px;
    margin-right: 20px;
}
.add_cart {
}
.auto_img_div {
    overflow: hidden;
    height: 150px;
    width: 150px;
    margin-left: 25px;
    float: left;
}
.cart_page_div {
    margin-left: 60px;
    width: 40%;
    float: left;
}
.div_button {
    margin-top: 10px;
    text-align: center;
    width: 25%;
    margin-left: 100px;
    float: left;
}
.desc {
    font-size: 13px;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin: 0 auto;
    font-weight: bold;
}
.title a {
    text-decoration: none!important;
    color: #003399!important;
}
.title a:hover {
    color: #2b542c!important;
}
.price {
    text-align: center;
    width: 20%;
    color: #2b542c;
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-top: 100px;
}
.country {
    width: 100%;
    font-size: 16px;
    color: #D9534F;
    font-weight: bold;
    float: left;
    margin-bottom: 5px;
}
.category {
    width: 100%;
    font-size: 16px;
    color: #4D4D4D;
    font-weight: bold;
    float: left;
    margin-bottom: 5px;
}
.total {
    width: 100%;
    font-size: 16px;
    color: #2b542c;
    font-weight: bold;
    float: left;
}
.auto_desc button {
    margin-left: 42%;
    width: 100px;
}
#div_car {
    margin: 10px auto;
    width: 80%;
    height: 500px;
    overflow: hidden;
}
.about_title {
    color: #002166;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.abaut_text {
    margin: 35px;
    font-family: sans-serif;
    font-weight: bold;
}
.button_view {
    color: #ffffff;
}
.buy_div {
    border-radius: 10px;
    padding-top: 10px;
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    background-color: #8DCEEF;
    overflow: hidden;
}
.buy_button {
    width: 245px;
    float: right;
    margin-right: 330px;
    margin-top: -5%;
}
.shipping_div {
    margin: 10px;
    background-color: #009B50;
    border-radius: 10px;
    width: 259px;
    min-height: 120px;
    float: left;
}
.total_sum {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    width: 23%;
    float: right;
}
.shipping {
    text-align: right;
    color: #2b542c;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    width: 20%;
    margin-left: 300px;
    float: left;
}
.shipping_img {
    overflow: hidden;
    border-radius: 10px;
    width: 30px;
    height: 25px;
    float: left;
}
.shipping_name {
    color: #333333;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    width: 129px;
    height: 25px;
    float: left;
}
.shipping_price {
    padding-top: 3px;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    height: 100%;
    float: left;
}
.shipping_price_button {
    padding: 0;
    width: 100px;
    height: 25px;
}
.div_3 {
    margin-top: 30px;
    width: 100%;
    overflow: auto;
}
.product_page {
    border: 1px solid red;
    background-color: #6FBCE4;
    margin: 5px auto;
    width: 90%;
    min-height: 400px;
    border-radius: 10px;
    padding-top: 10px;
    float: left;
}
.img_div {
    margin: 5px auto;
    overflow: hidden;
    width: 200px;
    height: 200px;

}
.page_img {
    overflow: hidden;
    text-align: center;
    margin-left: 20px;
    width: 25%;
    min-height: 400px;
    float: left;
}
.page_desc {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 70%;
    min-height: 400px;
    background-color: #B9E7FF;
    float: left;
}
.product_name {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.product_price {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    float: left;
}
.product_country {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    float: left;
}
.product_category {
    margin-top: 10px;
    float: left;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    float: left;
}
.product_total {
    margin-top: 10px;
    float: left;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    float: left;
}
.pag_product {
    width: 50%;
    margin-left: 40%;
}
.asd {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    border: 2px solid red;
    float: right;
    margin-right: 120px;
    font-size: 20px;
    color: #0000FF;
    text-align: center;
    margin-top: -40px;
}
.cart_1 {
    border-radius: 15px;
    width: 80%;
    height: 100%;
    border: 3px solid #245880;
    margin: 20px auto;
    background-color: #0484B5;
}
.cart_products {
    min-height: 120px;
    border-bottom: 2px solid royalblue;
    padding-top: 10px;
    width: 100%;
}
.checkbox {
    float: left;
    margin-left: 5px;
    width: 30px!important;
}
.cart_img {
    padding-top: 10px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-left: 30px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
}
.cart_product_name {
    margin-left: 65px;
    width: 300px;
    font-size: 14px;
    font-weight: bold;
    color: #002166;
}
.cart_product_country {
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    color: #002166;
    float: left;
}
.cart_product_category {
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    color: #002166;
    float: left;
}
.cart_product_price {
    margin-left: 30px;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    color: #002166;
    float: left;
}
.total_price {
    font-size: 18px;
    margin-top: 2px;
    font-weight: bold;
    color: #761c19;
    width: 200px;
    float: left;
}
.span_count {
    margin-left: 10px;
    margin-right: 3px;
    font-size: 18px;
    color: #5a0099;
}
.count_control {
    float: left;
    width: 150px;
    height: 25px;
}
.max_count {
    width: 245px;
    float: left;
}
.aaa {
    color: #002166;
    float: left;
    font-weight: bold;
}
.cart_button_buy {
    margin-left: 10px;
    width: 90px;
    float: left;
}
.cart_button {
    margin-left: 20px;
    width: 90px;
    float: left;
}
.modal_content {
    width: 55%;
    margin: 20px auto;
}
.confirm {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: #002166;
}
.pagin {
    margin-left: 450px;
}
.buy_now {
    margin-left: 40%;
    width: 15%;
    margin-bottom: 10px;
}
.count_error {
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
    width: 125px;
    height: 25px;
    margin-left: 945px;
    margin-top: 8px;
}
.buy_div_page {
    width: 100%;
    min-height: 500px;
    background-color: #59AD82;
}
.name_buy_product {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #843534;
    background-color: #59AD82;
}
.img_buy_product {
    width: 50%;
    float: left;
    margin-right: 10px;
}
.desc_buy_div {
    text-align: justify;
    font-size: 13px;
    width: 100%;
    background-color: #F1EBE0;
    padding: 10px;
}
.price_buy_div {
    font-weight: bold;
    font-size: 16px;
    width: 50%;
    float: left;
    margin-top: 10px;
    padding-left: 15px;
}
.category_buy_div {
    font-weight: bold;
    font-size: 16px;
    width: 50%;
    float: left;
    margin-top: 10px;
}
.left_div {
    border-right: 2px solid #255625;
    width: 50%;
    min-height: 500px;
    float: left;
    background-color: #59AD82;
}
.right_div {
    width: 50%;
    min-height: 500px;
    float: right;
    background-color: #59AD82;
}
.country_map {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #15252F;
    background-color: #59AD82;
}
.map {
    width: 50%;
    border: 1px solid red;
    float: left;
}
.fb-like {
    width: 300px!important;
    margin-top: 10px;
    float: right;
}
.button_buy_div {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 200px;
}
.aaa123 {
    width: 100%;
    float: left;
}
.all_total {
    width: 100%;
    border-top: 2px solid royalblue;
    min-height: 50px;
    float: left;
}
.total_shipping_sum {
    width: 20%;
    min-height: 25px;
    margin-left: 80%;
    text-align: center;
    color: #003399;
    font-size: 18px;
    font-weight: bold;
}
.add_cart_button_div {
    width: 100px;
    height: 35px;
    float: left;
    text-align: center;
    margin-left: 500px;
    margin-bottom: 10px;
}
.login_form {
    width: 100%;
    height: 75px;
    text-align: right;
}
.input_login {
    width: 150px!important;
    height: 20px;
}
.input_password {
    width: 130px!important;
    height: 20px;
}
.checkbox_login {
    margin-left: 530px;
    margin-top: 45px!important;
    width: 130px!important;
}
.button_login {
    margin-top: 23px;
    background-color: #6DA5C7;
    padding: 0;
    margin-bottom: -22px;
    width: 80px;
    height: 22px;
}
.login_div {
    margin-top: 25px;
    text-align: center;
}
.password_div {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    text-align: center;
}
.login_form label {
    margin: 0;
    color: #ffffff;
}

.centered-form{
    margin-top: 60px;
}
.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.panel_body {
    background-color: #DFF4FF;
}
.reg_form_div {
    width: 70%;
    margin: 10px auto;
}
.reg_title_div {
    text-align: center;
}
.reg_button {
    margin: 20px auto;
    width: 200px!important;
    margin-bottom: 0;
}
.input {
    margin-top: 20px;
    border: 1px solid #757575;
}
.error {
    font-weight: bold;
    color: #ff0000;
    padding: 0!important;
    width: 350px;
    text-align: center;
    margin: 0 auto;
}
.input_div {
    margin-bottom: 5px;
}
#select_all {
    margin-left: 10px;
}
.select_error {
    font-weight: bold;
    width: 300px;
    color: red;
    float: right;
    margin-right: 650px;
    font-size: 16px;
}

